# Analisis dan manipulasi data
numpy
pandas
scipy

# Visualisasi
matplotlib
seaborn

# Scikit-learn dan alat preprocessing/modeling
scikit-learn
imblearn  # bagian dari imbalanced-learn

# Gradient boosting dan XGBoost
xgboost

# Penyimpanan model
joblib

# Koneksi ke database PostgreSQL
sqlalchemy
psycopg2-binary
